/* main style start */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

:root {
    --yellow: #fce500;
    --gray: #f5f5f5;
    --black: #000;
    --white: #fff;
}

body {
    font-family: 'Raleway', tahoma, arial;
    overflow-x: hidden;
}

/* main style end */

/* head start */

.head {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    animation: backgroundslide 10s ease-in-out infinite;
}

@keyframes backgroundslide {
    0%, 100% {
        background-image: url(../pictures/slider/background.jpg);
        opactiy: .5;
    }
    33% {
        background-image: url(../pictures/slider/background2.jpg);
        opactiy: .5;
    }
    66% {
        background-image: url(../pictures/slider/background-3.jpg);
        opactiy: .5;
    }
}

.head .cover {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .5;
}

.head .container .navbar {
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 25px 0;
    align-items: center;
}

.head .container .navbar img {
    height: 70px;
    width: 70px;
}

.head .container .navbar .bar {
    height: 25px;
    cursor: pointer;
}

.head .container .navbar .bar span {
    width: 50px;
    height: 5px;
    background-color: var(--yellow);
    position: relative;
    display: block;
    border-radius: 20px;
}

.head .container .navbar .bar span::after, .bar span::before {
    content: "";
    width: 40px;
    height: 5px;
    background-color: var(--yellow);
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 20px;
}

.bar span::before {
    width: 30px;
    top: 20px;
}

.head .mainpart {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
}

.hidetext {
    animation: hide 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.showtext {
    animation: show 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes show {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.head .mainpart h2, .mainpart p {
    margin-bottom: 30px;
    font-size: clamp(.8rem, 2.5vw, 3rem);
    letter-spacing: 5px;
}

.mainpart p {
    font-size: clamp(.7rem, 1.5vw, 2rem);
}

.head .mainpart .button {
    background: var(--yellow);
    padding: 10px 30px;
    color: var(--black);
    cursor: pointer;
}

.head .mainpart button {
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
}

.head .arrow {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -80%);
    text-align: center;
}

.head .arrow img {
    width: 100%;
}

.head .menu {
    width: 0;
    height: 100%;
    background-color: rgb(252 229 0 / 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 150px;
    text-align: center;
    overflow: hidden;
}

.menushow {
    animation: menu-right 1s linear;
    animation-fill-mode: forwards;
}

.menuhidde {
    animation: menu-left 1s linear;
    animation-fill-mode: forwards;
}

.active {
    color: var(--yellow) !important;
}

@keyframes menu-left {
    0% {
        width: 100%;
    }
    100% {
        width: 0 !important;
    }
}

@keyframes menu-right {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.head .menu ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.head .menu ul li a {
    position: relative;
    display: inline-block;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
}

.head .menu a::before {
    content: attr(data-fill);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    color: var(--yellow);
    overflow: hidden;
    white-space: nowrap;
    transition-duration: .5s;
}

.head .menu a:hover:before {
    width: 100%;
    transition-duration: .5s;
}

/* head end */

/* info start */

.info {
    padding: 100px 0;
    width: 100%;
}

.info .mount {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.info .mount img {
    margin-bottom: 40px;
}

.info .mount p {
    width: 60%;
}

.p {
    line-height: 1.7;
    color: #707070;
    margin: 0 auto;
}

/* info end */

/* service start */

.service {
    padding-top: 50px;
    text-align: center;
    background-color: #f4f4f4;
}

.h2 {
    font-size: clamp(1rem, 1.5vw, 2rem);
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #1b1b1b;
    margin: 30px 0;
    font-weight: 500;
}

.service .card, .service .prograss-card {
    padding: 25px;
    margin: 50px 0 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background-color: #fff;
}

.scroll2 {
    opacity: 0;
    transform: scale(0.1) translateX(-10000px);
}

.scroll1, .scroll3 {
    transform: translatex(5000px);
    opacity: 0;
}

.activeshow {
    opacity: 1 !important;
    transform: scale(1) !important;
    transition: all 1.5s ease-in-out;
}

.service .card i {
    color: var(--yellow);
    margin-bottom: 30px;
}

.service .card h3 {
    font-size: 20px;
    margin: 0 !important;
    white-space: pre-wrap;
    letter-spacing: 5px;
}

.service .card h3 {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #707070;
}

.service .card p {
    margin-top: 30px;
    line-height: 1.4;
    width: 100%;
}

.service .prograss-card {
    margin: 0 0 30px;
    padding: 10px;
    text-align: left;
}

.service .prograss-card div {
    margin-bottom: 20px;
}

.service .prograss-card div h4 {
    margin: 0;
    letter-spacing: 3px;
    text-transform: none;
    margin-bottom: 10px;
}

.service .prograss-card .prograss {
    width: 100%;
    height: 5px;
    background-color: #f4f4f4;
    border-radius: 20px;
}

.service .prograss-card .prograss span {
    height: 100%;
    display: block;
    background-color: var(--yellow);
    border-radius: 20px;
}

.service .stats {
    padding: 50px 0;
    background-color: #1a1a1a;
}

.service .stats .path {
    background-color: var(--white);
    padding: 15px 5px;
    margin: 15px 0;
}

.service .stats .path h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: tahoma, arial;
}

.service .stats .path p {
    letter-spacing: 3px;
}

/* service end */

/* portfolio start */

.portfolio {
    padding-top: 50px;
    text-align: center;
}

/* portfolio end */

@media (max-width: 575px) {
    /* head start */
    .head .mainpart h2, .mainpart p {
        letter-spacing: normal;
    }
    /* head end */
    /* info start  */
    .info .mount p {
        width: 100%;
    }
    /* info end */
}