/* my-gird system start */

/* xs screen start */

.col-1 {
    width: calc((1 * 100%)/12)
}

.col-2 {
    width: calc((2 * 100%)/12)
}

.col-3 {
    width: calc((3* 100%)/12)
}

.col-4 {
    width: calc((4* 100%)/12)
}

.col-5 {
    width: calc((5* 100%)/12)
}

.col-6 {
    width: calc((6* 100%)/12)
}

.col-7 {
    width: calc((7* 100%)/12)
}

.col-8 {
    width: calc((8* 100%)/12)
}

.col-9 {
    width: calc((9* 100%)/12)
}

.col-10 {
    width: calc((10* 100%)/12)
}

.col-11 {
    width: calc((11* 100%)/12)
}

.col-12 {
    width: calc((12* 100%)/12)
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-right: 15px;
    padding-left: 15px
}

/* xs screen end */

/* sm screen start */

@media (min-width: 575px) {
    .col-sm-1 {
        width: calc((1 * 100%)/12)
    }
    .col-sm-2 {
        width: calc((2 * 100%)/12)
    }
    .col-sm-3 {
        width: calc((3* 100%)/12)
    }
    .col-sm-4 {
        width: calc((4* 100%)/12)
    }
    .col-sm-5 {
        width: calc((5* 100%)/12)
    }
    .col-sm-6 {
        width: calc((6* 100%)/12)
    }
    .col-sm-7 {
        width: calc((7* 100%)/12)
    }
    .col-sm-8 {
        width: calc((8* 100%)/12)
    }
    .col-sm-9 {
        width: calc((9* 100%)/12)
    }
    .col-sm-10 {
        width: calc((10* 100%)/12)
    }
    .col-sm-11 {
        width: calc((11* 100%)/12)
    }
    .col-sm-12 {
        width: calc((12* 100%)/12)
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        padding-right: 15px;
        padding-left: 15px
    }
    .container {
        width: 540px !important;
        margin: 0 auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* sm screen end */

/* md screen start */

@media (min-width: 768px) {
    .col-md-1 {
        width: calc((1 * 100%)/12)
    }
    .col-md-2 {
        width: calc((2 * 100%)/12)
    }
    .col-md-3 {
        width: calc((3* 100%)/12)
    }
    .col-md-4 {
        width: calc((4* 100%)/12)
    }
    .col-md-5 {
        width: calc((5* 100%)/12)
    }
    .col-md-6 {
        width: calc((6* 100%)/12)
    }
    .col-md-7 {
        width: calc((7* 100%)/12)
    }
    .col-md-8 {
        width: calc((8* 100%)/12)
    }
    .col-md-9 {
        width: calc((9* 100%)/12)
    }
    .col-md-10 {
        width: calc((10* 100%)/12)
    }
    .col-md-11 {
        width: calc((11* 100%)/12)
    }
    .col-md-12 {
        width: calc((12* 100%)/12)
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        padding-right: 15px;
        padding-left: 15px
    }
    .container {
        width: 720px !important;
        margin: 0 auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* md screen end */

/* lg screen start */

@media (min-width: 922px) {
    .col-lg-1 {
        width: calc((1 * 100%)/12)
    }
    .col-lg-2 {
        width: calc((2 * 100%)/12)
    }
    .col-lg-3 {
        width: calc((3* 100%)/12)
    }
    .col-lg-4 {
        width: calc((4* 100%)/12)
    }
    .col-lg-5 {
        width: calc((5* 100%)/12)
    }
    .col-lg-6 {
        width: calc((6* 100%)/12)
    }
    .col-lg-7 {
        width: calc((7* 100%)/12)
    }
    .col-lg-8 {
        width: calc((8* 100%)/12)
    }
    .col-lg-9 {
        width: calc((9* 100%)/12)
    }
    .col-lg-10 {
        width: calc((10* 100%)/12)
    }
    .col-lg-11 {
        width: calc((11* 100%)/12)
    }
    .col-lg-12 {
        width: calc((12* 100%)/12)
    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-right: 15px;
        padding-left: 15px
    }
    .container {
        width: 960px !important;
        margin: 0 auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* lg screen end */

/* xl screen start */

@media (min-width: 1200px) {
    .col-xl-1 {
        width: calc((1 * 100%)/12)
    }
    .col-xl-2 {
        width: calc((2 * 100%)/12)
    }
    .col-xl-3 {
        width: calc((3* 100%)/12)
    }
    .col-xl-4 {
        width: calc((4* 100%)/12)
    }
    .col-xl-5 {
        width: calc((5* 100%)/12)
    }
    .col-xl-6 {
        width: calc((6* 100%)/12)
    }
    .col-xl-7 {
        width: calc((7* 100%)/12)
    }
    .col-xl-8 {
        width: calc((8* 100%)/12)
    }
    .col-xl-9 {
        width: calc((9* 100%)/12)
    }
    .col-xl-10 {
        width: calc((10* 100%)/12)
    }
    .col-xl-11 {
        width: calc((11* 100%)/12)
    }
    .col-xl-12 {
        width: calc((12* 100%)/12)
    }
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .container {
        width: 1140px !important;
        margin: 0 auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* xl screen end */

/* my-gird system end */

/* freamwork start */

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap !important;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-justfiy-center {
    justify-content: center;
}

/* freamwork end */